<div class="row">
	<div class="col-md-12 text-center">
		<h2>Congratulations! Your note has been sent.</h2>
	</div>
</div>
<div class="row">
	<div class="col-md-12 text-center">
		<h3><%= link_to 'Click here', root_path %> to create another one.</h3>
	</div>
</div>