<div class="row">
	<div class="col-md-12 text-center">
		<h2>Congratulations! Your note has been sent.</h2>
	</div>
</div>
<div class="row">
	<div class="col-md-12 text-center">
<<<<<<< HEAD
		<%= link_to root_url do %>
		<h3 class="btn btn-danger btn-lg">Create another one love note.</h3>
		<% end %>
		
	</div>
</div>
<div class="row">
	<div class="col-md-12 text-center">
		
		<%= link_to :spread, 'data-no-turbolink' => true do %>
		<h3 class="btn btn-danger btn-lg">See love spread through the world.</h3>
		<% end %>
=======
		<h3><%= link_to 'Click here', root_path %> to create another one.</h3>
>>>>>>> 5c722712d0c26fd7248b0c96e2834c3a075a1f17
	</div>
</div>